<div class="home-page">
  <div class="banner" *showAuthed="false">
    <div class="container">
      <h1 class="logo-font">WACBOOK</h1>
      <p>Un réseau de partager</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'feed'}"
                 (click)="setListTo('feed')">
                Vos publications
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
                 (click)="setListTo('all')">
                Toutes les publications
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                publications par tag : <i class="ion-pound"></i>{{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <article-list [limit]="10" [config]="listConfig"></article-list>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Tags populaires</p>
          <div class="tag-list">
            <a href="#"
               *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag.content})"
               class="tag-default tag-pill">
              {{ tag.content }}
            </a>
          </div>
          <div [hidden]="tagsLoaded">
            Chargement des tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length">
            Il n'y a pas de tags.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
