<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Vos informations</h1>

        <list-errors [errors]="errors"></list-errors>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control"
                     type="text"
                     placeholder="URL de votre image de profile"
                     formControlName="image"/>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Nom d'utilisateur"
                     formControlName="username"/>
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control form-control-lg"
                        rows="8"
                        placeholder="Biographie"
                        formControlName="bio">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="email"
                     placeholder="Email"
                     formControlName="email"/>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="password"
                     placeholder="nouveau Mot de passe"
                     formControlName="password"/>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
                    type="submit">
              Mettre à jour mes informations
            </button>

          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr/>

        <button class="btn btn-outline-danger"
                (click)="logout()">
          Se déconnecter
        </button>

      </div>
    </div>
  </div>
</div>
