<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">WACBOOK</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Développé en Angular 2 / node Js par Antoine MEZON
    </span>
  </div>
</footer>
