<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <article-meta [article]="article">
       <span *showAuthed="true">
          <favorite-button
            [article]="article"
            (onToggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'J\'aime' : 'J\'aime' }} <span
            class="counter">({{ article.favoritesCount }})</span>
          </favorite-button>
          <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Editer l'article
          </a>

          <button class="btn btn-sm btn-outline-danger"
                  [ngClass]="{disabled: isDeleting}"
                  (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Supprimer l'Article
          </button>
        </span>
        </span>
      </article-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">
        <div [innerHTML]="article.body | markdown"></div>

        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList"
              class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div *showAuthed="true">
          <list-errors [errors]="commentFormErrors"></list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                          placeholder="Votre commentaire..."
                          rows="3"
                          [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img"/>
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>
        <div *showAuthed="false">
          <a [routerLink]="['/login']">Connecter vous</a> ou <a [routerLink]="['/register']">Inscriver vous</a> pour
          commenter cet article.
        </div>
        <article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="onDeleteComment(comment)">
        </article-comment>

      </div>
    </div>

  </div>
</div>
